.progress-container {
    width: 100%;
    background-color: #d1c4e9; /* Color de fondo de la barra */
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px; /* Espacio entre la barra y el formulario */
}

.progress-bar {
    height: 10px; /* Altura de la barra de progreso */
    background-color: #7e57c2; /* Color de la barra de progreso */
    transition: width 0.3s ease; /* Transición suave para el cambio de ancho */
}
